<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="ServerAddress" value="localhost"/>
	  <add key="ServerPort" value="9200"/>
	  <add key="RootDir1" value="c:\nimsf"/>
	  <add key="FilesExt1" value="*.js"/>	
	  <add key="RootDir2" value="\\netapp07b\build\NIM\NP.6.4.01_cb\Current_Build\NP\"/>
	  <add key="FilesExt2" value="*.cs|*.c|*.cpp|*.h|*.hpp|*.xmla"/>	
  </appSettings>

</configuration>